

h1.source-code-pro {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.a{
    font-size: 100pt;
}


.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}
.logo{
    width: 100px;
    padding: 20px 0;
    cursor: pointer;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1{
    font-size: 64px;
    font-weight: 600;
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 1900px;
}
.launch-time div p{
    font-family: "Source Code Pro", monospace;
    font-size: 60px;
    margin-bottom: -14px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: gray;
    color: white;
  }
