*{
    margin: 0;
    padding: 0;
    font-family: 'SourceCodePro.ttf', monospace;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    font-family: 'SourceCodePro.ttf', monospace;
    

}

nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
    font-family: 'SourceCodePro.ttf', monospace;
}
nav img{
    width: 135px;
}
.nav-links{
    flex: 1;
    text-align: right;
    font-family: 'SourceCodePro.ttf', monospace;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-family: 'SourceCodePro.ttf', monospace;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: 'SourceCodePro.ttf', monospace;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #dedede;
    display: block;
    margin: auto;
    transition: .5s;  
    font-family: 'SourceCodePro.ttf', monospace;  
}
.nav-links ul li:hover::after{
    width: 100%;
    font-family: 'SourceCodePro.ttf', monospace;
}
nav .fa{
    display: none;
    font-family: 'SourceCodePro.ttf', monospace;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'SourceCodePro.ttf', monospace;
}
.text-box h1{
    font-size: 62px;
    font-family: 'SourceCodePro.ttf', monospace;
}
.text-box p{
    margin: 20px 0 40px;
    font-size: 14px;
    color: #fff;
    font-family: 'SourceCodePro.ttf', monospace;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-family: 'SourceCodePro.ttf', monospace;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.hero-btn:hover{
    border: 1px solid #dedede;
    background: #dedede;
    font-family: 'SourceCodePro.ttf', monospace;
}


@media(max-width: 700px)
{
   .nav-links ul li
    {
        display: block;
    }
    .nav-links
    {
        position: fixed;
        background: #dedede;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        font-family: 'SourceCodePro.ttf', monospace;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul{
        padding: 30px;
        font-family: 'SourceCodePro.ttf', monospace;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-family: 'SourceCodePro.ttf', monospace;
        font-size: 22px;
        cursor: pointer; 
    }
    .text-box h1{
        font-size: 20px;
        font-family: 'SourceCodePro.ttf', monospace;
    }
}

.ordnung{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    font-family: 'SourceCodePro.ttf', monospace;
}
p{
    color: white;
    font-size: 14px;
    font-family: 'SourceCodePro.ttf', monospace;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;  
}
  
.ordnung-col{
    flex-basis: 31%;
    
  
    margin-bottom: 5%;
    padding: 0px 0px;
    box-sizing: border-box;
    transition: .5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-family: 'SourceCodePro.ttf', monospace;
}
.ordnung-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    font-family: 'SourceCodePro.ttf', monospace;
}

@media (max-width:700px){
    .row{
        flex-direction: column;
        font-family: 'SourceCodePro.ttf', monospace;
    }
} 

.fuerbild{
    width: 80%;
    margin: auto;
    font-family: 'SourceCodePro.ttf', monospace;
    text-align: center;
    padding-top: 50px;
}
.fuerbild-col{
    flex-basis: 32%;
    border-radius: 10px;
    font-family: 'SourceCodePro.ttf', monospace;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.fuerbild-col img{
    width: 100%;
    font-family: 'SourceCodePro.ttf', monospace;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: .5s;
}
.layer:hover{
    background: rgba(226, 0, 0, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    left: 50%;
    font-family: 'SourceCodePro.ttf', monospace;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.seite{
    width: 80%;
    margin: auto;
    font-family: 'SourceCodePro.ttf', monospace;
    text-align: center;
    padding-top: 100px;
}


.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    font-family: 'SourceCodePro.ttf', monospace;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    font-family: 'SourceCodePro.ttf', monospace;
    margin-bottom: 40px; 
    padding: 0; 
}

@media(max-width:700px){
    .cta h1{
        font-size: 24px;
        font-family: 'SourceCodePro.ttf', monospace;
    }
}



.footer{
    width: 100%;
    font-family: 'SourceCodePro.ttf', monospace;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-family: 'SourceCodePro.ttf', monospace;
}

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    font-family: 'SourceCodePro.ttf', monospace;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}


.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'SourceCodePro.ttf', monospace;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
}


.hero-btn.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.hero-btn.red-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    color: #fff;
}
.hero-btn.red-btn::after{
    background: #f44336;
}
.hero-btn.red-btn::before{
    background: #f44336;
}
.content-image{
    flex-basis: 50%;

}

.comment-box{
    border: 1px solid #ccc;
    font-family: 'SourceCodePro.tff', monospace;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3{
    text-align: left;
    font-family: 'SourceCodePro.ttf', monospace;
    font-family: 'SourceCodePro.tff', monospace;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0;
}


@media (max-width:700px){
    .sub-header h1{
        font-size: 24px;
    }
} 

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
    
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
    
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}

.footer-link{
    text-decoration: none;
    color: #777;
}










